<p>To work with Rudy or far better software developers, contact <a
  href="http://www.carbonfive.com">Carbon Five</a>.</p>

<form action="http://getsimpleform.com/messages?form_api_token=d34420346de5b5e78ce83b6425a132a2" method="post" class="form-inline hero-unit">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='http://rudyjahchan.com/contact/thanks/' />
  <!-- all your input fields here.... -->
  <p>Hi, Rudy!</p>
  <p>My name is <input type='text' name='name' />, and I want to talk to you about
  <select name="subject">
    <option>a creative opportunity</option>
    <option>developing an app</option>
    <option>an interview or appearance</option>
    <option>geek-gasms</option>
    <option>something of interest to you</option>
  </select>.</p>
  <p><textarea name="message" style="width: 100%;" rows="10">You see ...</textarea></p>
  <p>If you're interested you may contact me at
  <input type="text" name="contact" />.</p>
  <p>Cheers!</p>
  <input type='submit' value='Send' class="btn btn-primary btn-large" />
</form>
