---

layout: "page"
title: "Contact"
jumbo: true

---
<p>To work with Rudy or other great developers, contact <a
  href="http://www.carbonfive.com">Carbon Five</a>.</p>

<p>I'm always reachable via <a href="http://twitter.com/rudy">@rudy</a> on
<a href="http://twitter.com">Twitter</a>.

<p>Otherwise, use this form, and I'll get back to you!</p>

<form id="form1" name="form1" class="wufoo  page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
      action="https://rudyjahchan.wufoo.com/forms/z1ypii321y9rd6h/#public">

<div class="form-group">
  <label class="desc" id="title4" for="Field4">Subject</label>
  <select id="Field4" name="Field4" class="form-control field select medium" tabindex="1" >
    <option value="" selected="selected"></option>
    <option value="Developing Apps" >Developing Apps</option>
    <option value="Writing Opportunity" >Writing Opportunity</option>
    <option value="Press" >Press</option>
    <option value="Geekgasm" >Geekgasm</option>
    <option value="Other" >Other</option>
  </select>
</div>
<div class="form-group">
  <label class="desc" id="title1" for="Field1">Message<span id="req_1" class="req">*</span></label>
  <textarea id="Field1"
  name="Field1"
  class="field textarea medium form-control"
  spellcheck="true"
  rows="10" cols="50"
  tabindex="2"
  onkeyup=""
        required  ></textarea>
      <p class="instruct" id="instruct1"><small>This field is required.</small></p>
</div>
<div class="form-group">
<label class="desc" id="title2" for="Field2">Email Address <span id="req_2" class="req">*</span></label>
<input id="Field2" name="Field2" type="email" spellcheck="false" class="form-control field text large" value="" maxlength="255" tabindex="3"       required />
<p class="instruct" id="instruct2"><small>I won't share this with strangers.</small></p>
<input id="saveForm" name="saveForm" class="btTxt submit btn btn-primary" type="submit" value="Submit" />

<div class="hide">
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
<input type="hidden" id="idstamp" name="idstamp" value="GOSq3+jZCufgNvAuCAJKnoKo6tN5DywKWXPBWA0xxbE=" />
</div>
</form>
<%= javascript_include_tag 'wufoo' %>
