---
pageable: true
---
<div class="article-content">
  <h1>Blog</h1>

  <% blog.articles.each_with_index do |article, i| %>
    <article>
      <h2><%= link_to article.title, article %></h2>
      <!-- use article.summary(250) if you have Nokogiri available to show just
           the first 250 characters -->
      <%= article.summary %>
      <time datetime="<%= article.date.strftime('%F %H:%M') %>"><%= article.date.strftime('%b %e, %Y') %></time>
    </article>
  <% end %>
</div>
