<article class="index jumbo article-content">
    <h1><%= image_tag 'rudy.jpg', alt: 'Rudy Jahchan', class: 'img-circle' %> Hello, world!</h1>
    <p>My name is <a href="/about/">Rudy Jahchan</a>!
    <p>
      I'm the co-creator of craft-beer app
      <a href="http://craftcheckapp.com">Craft Check</a>,
      a code-monkey at product design and development shop
      <a href="http://carbonfive.com">Carbon Five</a>,
      writer of movies and
      <a href="http://galacticast.com">web</a>
      <a href="http://acomicbookorange.com">shows</a>,
      and lover of all things
      <a href="http://timeywimey.tv">timey-wimey</a>
      (that's "time travel" for you muggles).
    </p>

    <p>Follow my adventures through
    <a href="http://twitter.com/rudy/" class="logoed twitter">Twitter</a>,
    <a href="http://github.com/rudyjahchan" class="logoed github">Github</a>, or
    <a href="http://followgram.me/rudyjahchan/"
      class="logoed instagram">Instagram</a>, or even my
    <em>* gasp *</em>
    <a href="/blog/">blog</a> (you can subscribe <a
      href="http://feeds.feedburner.com/rudyjahchan/" class="logoed
      feed">here</a>.)
    </p>

    <p>Feel free to <a href="/about#contact">contact me</a> about anything (I'll
    do my best to help.)</p>

    <p>Cheers!</p>
</article>
